body{
    font-family: 'Times New Roman', serif;
    font-size: 16px;
}


span{
    color: #555;
}

a:visited {
    text-decoration: none;
    color: #555;
    border-bottom-color: #ccc;
}

a:link {
    text-decoration: none;
}


a{
    color: #555;
    border-bottom: 1px solid #ccc;
}


header  {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 75%;
    position: relative;
}


h1{
    margin-left: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

h1 a:visited {
    color: #000;
}

h2 {
    margin-left: 10px;
    margin-bottom: 10px;
    font-style: normal;
}


h3,h4,h5 {
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}


nav{
    position: absolute;
    top:12px;
    left:300px;
    width: auto;
}

ul{
    display: block;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.projects li{
    list-style-type: none;
    display: inline-block;
    width: 300px;
    margin-right: 5px;
}

.blogs li{
    list-style-type: square;
}

#text{
    width: 400px;
}

p{
    margin-left:10px;
    margin-bottom:14px;
}


#text {
    display: inline-block;
}

#circles {
    display: inline-block;
}

#main {
    position: relative;
    top:600px;
    left:10px;
}

#map{
    height: 500px;
    width: 1000px;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
}